/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 25px; /* Increase padding for navigation bar */
    position: relative;
    text-align: right; /* Right align the menu bar */
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.header-rapper{
	background-color: #333;
	padding: 1px; /* Increase padding for navigation bar */
    position: relative;
	font-size: 1rem;
    font-weight: normal;
    color: #fff;
}

.big-bg {
    padding: 10px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.big-bg-a {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
	min-height:100vh;
}

.toggle {
    color: white;
    font-size: 32px; /* Increase font size */
    cursor: pointer;
    display: inline-block;
    padding: 0px; /* Increase padding for button */
}

iframe {
    width: 100%;
}

/* Header Menu */
.page-header {
    justify-content: space-between;
    align-items: center;
    position: sticky; /* スクロールに合わせて動く */
    top: 0; /* 常に上部に固定 */
    z-index: 1000; /* 他のコンテンツの上に表示 */
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    position: absolute;
    top: 28px;
    left: 10px; 
    text-decoration: none;
    font-size: 28px;
    cursor: pointer;
    display: inline-block;
}
/*
.menu-bar-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 20vh; 
    max-height: 500px; 
    overflow: hidden;
    background-color: #333;
    margin-left: auto; 
}

.menu-bar {
    height: calc(100% - 80px); 
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.menu-bar::-webkit-scrollbar {
    display: none; 
}
*/
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* 初期状態でメニューを非表示 */
    flex-direction: column;
    position: absolute;
    top: 60px; /* メニューの表示位置を調整 */
    right: 10px; /* メニューを右側に配置 */
    background-color: #333;
    border: 1px solid #575757;
    width: 250px; /* メニューの幅を広くする */
    higth: 10px;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu li a {
    display: flex;
    align-items: center;
    color: white;
    text-align: left;
    padding: 20px; /* Increase padding for menu items */
    text-decoration: none;
    font-size: 18px; /* Increase font size for menu items */
}

.menu li a:hover {
    background-color: #575757;
}

.menu-icon {
    margin-right: 12px; /* Add space between icon and text */
    font-size: 24px; /* Increase icon size */
}

.icon-ba {
    font-size: 40px;
}

/* Background Images */
 #heart, #sankaku, #maru, #sikaku, #batsu, #clover, #spade, #dia, #star {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 80vh;
}

#index { background-image: url("img/neko.JPG"); }
#base { background-image: url("img/samune.png"); min-height: 90vh;}
#heart { background-image: url("img/sankaku heart.PNG"); }
#sankaku { background-image: url("img/samune sankaku.PNG"); }
#maru { background-image: url("img/samune maru.PNG"); }
#sikaku { background-image: url("img/samine sikaku.PNG"); }
#batsu { background-image: url("img/samune x.PNG"); }
#clover { background-image: url("img/samune clover.PNG"); }
#spade { background-image: url("img/samune spade.PNG"); }
#dia { background-image: url("img/samune dia.PNG"); }
#star { background-image: url("img/samune hosi.PNG"); }

/* Home Page */
.mondai-content {
    max-width: 1200px;
}

.head-title {
    left: 10px;
    color: #fff8dc;
}

.mondai-content {
    font-size: 3rem;
    font-family: 'Quicksand';
    text-transform: uppercase;
    font-weight: normal;
    color: #fff8dc;
    text-align: center;
}

.page-title2{
	font-size: 3rem;
    font-weight: bold;
    color: #3C3C3C;
	text-shadow: 
                2px 2px 0 #fff,  
               -2px 2px 0 #fff,
                2px -2px 0 #fff,
               -2px -2px 0 #fff,
                2px 0 0 #fff,
               -2px 0 0 #fff,
                0 2px 0 #fff,
                0 -2px 0 #fff;
}

.mondai-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;
    text-align: center;
    color: #fff8dc;
}

.mondai-detail .middle-title {
    font-size: 2rem;
    margin-top: 20%;
}

.detail-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3-column grid */
    gap: 10px; /* Spacing between buttons */
    width: 100%;
    box-sizing: border-box;
}

a.btn {
    display: block;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

a.btn:hover {
    background-color: #535353;
}

.detail {
    max-width: 1100px;
    margin-top: 2%;
}

.detail2 {
    max-width: 500px;
    margin-top: 2%;
    margin-left: 20%;
    font-size: 1.2rem;
}

.detail p {
    font-size: 1.2rem;
}

.grid {
    width: 400px;
    margin: 5px;
}

@media (min-width: 601px) {
    .nav ul {
        display: flex;
        flex-direction: row;
    }

    .menu {
        display: none; /* Hide on desktop */
    }
}

@media (max-width: 600px) {
    .mondai-detail-wrapper {
        width: 100%;
        padding: 10px;
    }

    a.btn {
        margin: 5px 0;
        padding: 12px 16px;
    }

    .detail-wrapper {
        grid-template-columns: repeat(2, 1fr); /* 2-column grid for narrow screens */
    }

    .additional-content {
        flex-direction: column; /* Stack vertically */
    }

    .additional-content img {
        margin: 0 0 20px 0; /* Add space below images */
    }

    .yoko {
        flex-direction: column; /* Stack vertically */
    }

    .yoko-retu {
        flex-direction: column;
    }

    .image-tate img {
        height: auto; /* Auto adjust image height */
        margin-bottom: 0; /* Reset bottom margin */
    }

    p {
        margin-left: 0; /* Reset left margin */
    }

    .menu-bar-container {
        width: 300px; /* Fixed width for larger screens */
        max-height: 600px; /* Increase max height for larger screens */
    }
}

/* Heart Mondai */
.additional-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    margin-top: 15%;
}

.additional-content img {
    max-width: 350px; /* Set max width for images */
    margin-right: 20px; /* Add space to the right of images */
}

.middle-title {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 130px;
}

.text-content {
    font-size: 27px;
    margin-bottom: 100px;
}

.hint-mondai {
    font-size: 27px;
}

.yoko {
    display: flex;
    align-items: center; /* Center vertically */
}

.yoko img {
    width: auto; /* Auto width */
    height: auto; /* Auto height */
    margin-left: 70px; /* Add space to the right */
}

/* Sankaku Mondai */
.spaced-text {
    margin-right: 50px; /* Add space to the right */
}

/* Clover Gazou Haiti */
.yoko-retu {
    display: flex;
    align-items: center;
}

.yoko-retu img {
    width: 200px; /* Set image width */
    height: 200px; /* Auto height */
    margin-right: 3px; /* Add space to the right */
}

/* Footer */
footer {
    background: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: 20%;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}
